$color-blanco : rgb(239, 240, 234);
$color-verde: rgb(108,153,138);
$color-verde2: rgb(84, 117, 106);
$tipografia-1: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

#container{
    background-color: $color-verde2;
    min-height: 100vh;
    height: 100%;
}

h1{
    text-align: center;
    font-family: $tipografia-1;
    font-weight: bold;
    font-size: 40px;
    margin: 0;
    padding: 20px;
    color: $color-blanco;
}

#contacts{
  text-align: center;
}
