$background-color: rgb(235, 235, 235);
$celeste:rgb(7, 152, 201);

*{
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  margin: 0;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  background-image: linear-gradient(
      0deg,
      rgba(0,0,0,0.5),
      rgba(0,0,0,0.5)
  )
  ,url("../new-contact/img/fondo.jpg");
}

h1{font-size: 3em;}
h2{font-size: 2.5em;}
h3{font-size: 1.5em;}
p{font-size: 1em;}
ul{list-style: none;}
li{font-size: 1.25em;}

.container{
  max-width: 1400px;
  margin: auto;
}

#title h1{
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px;
  font-weight: bold;
  font-size: 70px;
  color: white;
}

#ingresos .container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 30px;
}

#ingresos input{
  margin: 10px;
  border-color: rgba(255, 255, 255, 0.507);
  border-radius: 10px;
  height: 50px;
  width: 400px;
  background-color:rgba(255, 255, 255, 0.5);
  box-shadow: 2px 2px 10px rgba(0,0,0,0.5) ;
  color: white;
  font-size: 20px;
}

#ingresos .input_avatar{
  height: 40px;
  width: 40px;
  border: none;
}

#ingresos input::placeholder{
  color: white;
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding:30px;
}

#ingresos button{
  font-size: 1.5em;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid rgba(0,0,0,0.5);
  box-shadow: 2px 2px 10px rgba(0,0,0,0.5) ;
  color: white;
  background-color: rgb(161, 161, 161);
  margin-top: 10px;
}

#ingresos button:hover{
  background-color: rgb(66, 66, 66) ;
}



