<div class="fondo">

  <section id="title">
    <h1>Nuevo Contato</h1>
  </section>

  <section id="ingresos">
    <div class="container">
      <input class="inputs_formu" type="text" placeholder="Nombre">
      <input class="inputs_formu" type="text" placeholder="Apellido">
      <input class="inputs_formu" type="mail" placeholder="Mail">
      <input class="inputs_formu" type="text" placeholder="Telefono">
      <input class="inputs_formu" type="text" placeholder="@">
      <input class="inputs_formu" type="text" placeholder="Dirección">
      <input class="input_avatar" type="color" placeholder="avatar">

      <button>Cargar</button>
    </div>
  </section>
</div>
