$color-blanco : rgb(239, 240, 234);
$color-verde: rgb(108,153,138);
$tipografia-1: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

header{
  background-color: $color-blanco;

}

header .logo{
  margin: 0;
  padding: 25px 30px;
  font-weight: bold;
  color: $color-verde;
  font-size: 2em;
}

header .container{
  display: flex;
  //flex-direction: column;
  align-items: center;

}

header nav{
  display: flex;
  //flex-direction: column;
  text-align: center;
  padding: 25px 15px;
}

header a{
  padding: 5px 12px;
  text-decoration: none;
  font-weight:lighter;
  color: black;
  font-family: $tipografia-1;
  font-size: 1.1em;
}

header a:hover{
  color:  $color-verde;
}

