<body id="inicio-sesion">
    
<section id="title">        
    <h1>Iniciar Sesión</h1>
</section>
    
<section id="iniciar-sesion">        
    <div class="container">
        <input class="inputs_formu" type="text" placeholder="Nombre">
        <input class="inputs_formu" type="text" placeholder="Apellido">
        <input class="inputs_formu" type="mail" placeholder="Mail">
        <input class="inputs_formu" type="text" placeholder="Telefono">
        <button>Enviar</button>
    </div>
</section>
    
</body>    