<body id="inicio-sesion">

<section id="title">
    <h1>Iniciar Sesión</h1>
</section>

<section id="form-iniciar-sesion">
  <form (ngSubmit)="login(form)" #form="ngForm">
    <div class="inputs">
      <label for="email">Email</label>
      <input type="email" name="email" id="email" autocomplete="email" placeholder="Type your email address"
        [(ngModel)]="authData.userName" #email="ngModel" pattern='^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$'
      >
    </div>
    <p *ngIf="email.touched && email.errors">Correo electrónico no válido.</p>
    <div class="inputs">
      <label for="password">Password</label>
      <input type="password" name="password" id="password" autocomplete="current-password" placeholder="Type your password"
        [(ngModel)]="authData.password" [required]="true" [minlength]="6" #password="ngModel"
      >
    </div>
    <div *ngIf="password.touched && password.errors">La contraseña debe tener al menos 6 caracteres.</div>
    <div>
      <button type="submit" [disabled]="form.invalid">Log In</button>
      <button type="button" [routerLink]="['signin']">Sign In</button>
    </div>
  </form>
</section>

</body>
