  <section id="hero">
    <div class="container-img">
    <div class="img-inicio-sesion"></div>
    </div>
    <h1>Ingresa para guardar tus Contactos <br> de manera Segura y Gratuita.</h1>
      <button [routerLink]="['/inicio-sesion']"> Iniciar Sesión</button>
      <button [routerLink]="['/inicio-sesion']"> Registrarme</button>
  </section>

  <section id="SomosFCIContact">
  <div class="container">
      <div class="texto">
        <h2>Somos <span class="color-acento">FCI Contact</span></h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        Amet dicta explicabo est reprehenderit a maiores dolor dolorem consequatur,
        numquam laboriosam quisquam. Quae alias vitae
        at incidunt facilis itaque accusamus eum.</p>
      </div>
  </div>
  </section>

  <section id="Caracteristicas">
  <div class="container">
      <div class="img-container"></div>
      <div class="texto">
        <ul>
          <li>✔️​ 100% Online</li>
          <li>✔️​ Flexibilidad de horarios</li>
          <li>✔️​ Soporte 1:1</li>
          <li>✔️​ Seguridad asegurada</li>
        </ul>
      </div>
  </div>
  </section>

<footer>
  <div class="container">
    <p>&copy; FCI Contact 2022</p>
  </div>
</footer>
