<div class="container">
  <div class="agendas">
    <button class="boton" *ngFor="let agenda of agendas"
      (click)="agendaSelec(agenda.id)" >{{agenda.nombre}}-{{agenda.id}}
    </button>
  </div>
  <div class="addagenda">
    <button  type="button" (click)="crearAgenda()"> Crear</button>
    <input  #ingreso type="text" autocomplete="off" />
    <button id="agregar" type="button" (click)="addAgenda(ingreso.value)"> Agregar</button>
    <button id="eliminar" type="button" (dblclick)="deleteAgenda(ingreso.value)">Eliminar</button>
  </div>
</div>
