$color-blanco : rgb(239, 240, 234);
$color-verde: rgb(108,153,138);
$color-verde2: rgb(84, 117, 106);
$tipografia-1: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


.container{
  height: 46px;
  background-color: $color-blanco;
}

.boton{
  width: 96px;
  height:40px ;
  border: none;
  background-color: $color-verde;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 3px;
}

.boton:hover{
  background-color: $color-verde2;
  width: 100px;
  height:46px ;
  margin-top: 0px;
}

.boton.activa{
  background-color: $color-verde2 ;
  width: 100px;
  height:46px ;
  margin-top: 0px;
}
