
<div id="main-contacts">
  <div class="card-dialog">
      <img class="profile-picture" src="../../../../assets/img/Icon-Contact.jpg">
      <h3 class="p1">{{contact.nombre}} {{contact.apellido}}</h3>
      <p class="p2"><strong>Direccion:</strong> {{contact.direccion}}</p>
      <p class="p3" ><strong>Telefono:</strong> {{contact.telefono}}</p>
      <p class="p4"><strong>Email:</strong> {{contact.mail}}</p>
      <!-- <p class="p5"><strong>Descripcion:</strong> {{contact.agendaId}} </p> -->
      <button class="p6">Borrar</button>
      <button class="p7">Editar</button>
      <div class="botones">
      </div>
      </div>
</div>
