
<div id="main-contacts">
  <div class="card-dialog" id="card-dialog-one">
      <div class="profile-picture"></div>
      <h3>{{contact.firstName}} {{contact.lastName}}</h3>
      <p><strong>Direccion:</strong> {{contact.email}}</p>
      <p><strong>Telefono:</strong> {{contact.phoneNumber}}</p>
      <p><strong>Email:</strong> {{contact.email}}</p>
      <p><strong>Descripcion:</strong> {{contact.descripcion}}</p>
      <p><strong>Avatar:</strong>{{contact.avatar}}</p>
      <img src={{contact.avatar}}>

  </div>
</div>
