
#main-contacts {
  margin: 10px 0px 10px 9px;
}
.card-dialog {
  float: left;
  width: 350px;
  //height: 200px;
  vertical-align: top;
  background-color: lightblue;
  //background-image: url(../contact-card/Images/McLovin2.jfif);
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
  margin: 10px;
  padding: 10px 20px 10px 20px;
}

.profile-picture {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column; 
  float: left;
  border: solid 1px;
  height: 80px;
  width: 80px;
  margin: 20px 10px 10px 0;
}
.profile-picture img{
  position: center;
}

.card-dialog > p {
  margin-left: 100px;
}

.card-dialog:active {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.664);
  transition-delay: 0s;
// }
// .card-dialog img{
//   position: center;
}
// img{
//   position: relative;
//   right: 91px;
//   width: 80px;
//   top: 20px;
// }