
<div id="main-contacts">
  <div class="card-dialog">
      <img class="profile-picture" src={{contact.avatar}}>
      <h3 class="p1">{{contact.firstName}} {{contact.lastName}}</h3>
      <p class="p2"><strong>Direccion:</strong> {{contact.email}}</p>
      <p class="p3" ><strong>Telefono:</strong> {{contact.phoneNumber}}</p>
      <p class="p4"><strong>Email:</strong> {{contact.email}}</p>
      <p class="p5"><strong>Descripcion:</strong> {{contact.descripcion}}</p>
      <button class="p6">Borrar</button>
      <button class="p7">Editar</button>
      <div class="botones">
      </div>
      </div>
</div>
